$cerulean-frost: #6D98BA;
$pale-silver: #E0C2B8;
$ghost-white: #FBFBFF;
$gorse: #F9E784;
$isabelline: #EBEBEB;
$linen: #F8F0E7;
$off-yellow: #FAF3DD;
$dark-vanilla: #BDCEA3;
$tomato: #ED6D52;
$wild-blue-yonder: #9AADBF;

$text-colour: #111111;
