$transition-stagger: 0.025s;
$transition-duration: 0.5s;

$mouse-start-x: 78%;
$mouse-start-y: 24%;

$aspect-ratio: 1/2;

$mouse-base-coords: (
        x1: 0%,
        y1: 0%,
        x2: 2%,
        y2: 2%,
        x3: 1%,
        y3: 4%
);

@function mouse-coords($coords, $x, $y) {
  @return polygon(
                  #{map-get($coords, x1) + $x} #{map-get($coords, y1) + $y},
                  #{map-get($coords, x2) + $x} #{map-get($coords, y2) + $y},
                  #{map-get($coords, x3) + $x} #{map-get($coords, y3) + $y}
  );
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.shards-container {
  margin: auto;
  height: calc(100vw * #{$aspect-ratio});
  outline: none;
  position: relative;
  width: calc(100vw - 60px);

  .shard-wrap {
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 100%;

    .shard {
      height: 100%;
      width: 100%;
      transition: all $transition-duration ease-in-out;
    }


    @for $i from 1 through 11 {
      $delay: ($i - 1) * $transition-stagger;
      &:nth-child(#{$i}) .shard {
        transition-delay: $delay;
      }
    }
  }

  &.backend {
    .shard-wrap {
      &:nth-child(1) .shard {
        background-color: rgb(0, 0, 0);
        clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
      }

      &:nth-child(2) .shard {
        background-color: rgb(63, 61, 60);
        clip-path: polygon(10% 7%, 90% 7%, 90% 10%, 10% 10%);
      }

      &:nth-child(3) .shard {
        background-color: rgb(252, 64, 66);
        clip-path: circle(0.65% at 11.5% 8.5%);
      }

      &:nth-child(4) .shard {
        background-color: rgb(224, 192, 76);
        clip-path: circle(0.65% at 13% 8.5%);
      }

      &:nth-child(5) .shard {
        background-color: rgb(114, 191, 71);
        clip-path: circle(0.65% at 14.5% 8.5%);
      }

      &:nth-child(6) .shard {
        background-color: rgb(240, 240, 240);
        opacity: 0.75;
        clip-path: polygon(11.5% 12%, 12.5% 12%, 12.5% 16%, 11.5% 16%);

        animation: cursor-blink 1.5s step-end infinite 0.5s;
      }

      &:nth-child(7) .shard {
        background-color: rgb(255, 255, 255);
        clip-path: mouse-coords($mouse-base-coords, 0%, 100%);
      }

      &:nth-child(8) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 0%);
      }

      &:nth-child(9) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 50%);
      }

      &:nth-child(10) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 100%);
      }

      &:nth-child(11) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
      }
    }
  }

  &.frontend {
    .shard-wrap {
      &:nth-child(1) .shard {
        background-color: rgb(192, 192, 192);
        clip-path: polygon(10% 7%, 10% 13%, 90% 13%, 90% 7%);
      }

      &:nth-child(2) .shard {
        background-color: rgb(224, 224, 224);
        clip-path: polygon(10% 13%, 10% 90%, 90% 90%, 90% 13%);
      }

      &:nth-child(3) .shard {
        background-color: rgb(255, 255, 255);
        clip-path: circle(1.5% at 86.5% 10%);
      }

      &:nth-child(4) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 0%);
      }

      &:nth-child(5) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 0%);
      }

      &:nth-child(6) .shard {
        background-color: rgb(255, 255, 255);
        clip-path: polygon(12% 8%, 16% 8%, 16% 12%, 12% 12%);
      }

      &:nth-child(7) .shard {
        background-color: rgb(0, 0, 0);
        clip-path: mouse-coords($mouse-base-coords, $mouse-start-x, $mouse-start-y);

        animation: move-around 5s ease-in-out infinite 0.75s;
      }

      &:nth-child(8) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 0%);
      }

      &:nth-child(9) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 50%);
      }

      &:nth-child(10) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: circle(0 at 0% 100%);
      }

      &:nth-child(11) .shard {
        background-color: rgba(0, 0, 0, 0);
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
      }
    }
  }

  &.ai {
    .shard-wrap {
      z-index: 0;

      // I3 -> H2 -> O1
      &:nth-child(1) {
        .shard {
          background-color: rgb(0, 0, 0);
          clip-path: polygon(30% 69.5%, 50% 49.5%, 50% 50.5%, 30% 70.5%);
        }
      }

      // I1 -> H1 -> O1
      &:nth-child(2) {
        z-index: 0;

        .shard {
          background-color: rgb(0, 0, 0);
          clip-path: polygon(30% 29.5%, 50% 49.5%, 50% 50.5%, 30% 30.5%);
        }
      }

      // O1
      &:nth-child(3) {
        z-index: 1;

        .shard {
          background-color: rgb(224, 224, 224);
          clip-path: circle(3.5% at 50% 50%);
        }
      }

      // H1
      &:nth-child(4) {
        z-index: 1;

        .shard {
          background-color: rgb(224, 224, 224);
          clip-path: circle(3.5% at 40% 40%);
        }
      }

      // H2
      &:nth-child(5) {
        z-index: 1;

        .shard {
          background-color: rgb(224, 224, 224);
          clip-path: circle(3.5% at 40% 60%);
        }
      }

      // I2 -> H2
      &:nth-child(6) {
        z-index: 0;

        .shard {
          background-color: rgb(0, 0, 0);
          clip-path: polygon(30% 49.5%, 40% 59.5%, 40% 60.5%, 30% 50.5%);
        }
      }

      &:nth-child(7) {
        .shard {
          background-color: rgb(255, 255, 255);
          clip-path: mouse-coords($mouse-base-coords, 0%, 100%);
        }
      }

      // I1
      &:nth-child(8) {
        z-index: 1;

        .shard {
          background-color: rgb(224, 224, 224);
          clip-path: circle(3.5% at 30% 30%);
        }
      }

      // I2
      &:nth-child(9) {
        z-index: 1;

        .shard {
          background-color: rgb(224, 224, 224);
          clip-path: circle(3.5% at 30% 50%);
        }
      }

      // I3
      &:nth-child(10) {
        z-index: 1;

        .shard {
          background-color: rgb(224, 224, 224);
          clip-path: circle(3.5% at 30% 70%);
        }
      }

      // I2 -> H1
      &:nth-child(11) {
        z-index: 0;

        .shard {
          background-color: rgb(0, 0, 0);
          clip-path: polygon(30% 49.5%, 40% 39.5%, 40% 40.5%, 30% 50.5%);
        }
      }
    }
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes move-around {
  0% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x, $mouse-start-y);
  }
  8% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x, $mouse-start-y);
  }
  21% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x - 20%, $mouse-start-y + 20%);
  }
  39% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x - 20%, $mouse-start-y + 20%);
  }
  50% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x - 30%, $mouse-start-y + 10%);
  }
  75% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x - 30%, $mouse-start-y + 10%);
  }
  84% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x - 35%, $mouse-start-y + 18%);
  }
  91% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x - 35%, $mouse-start-y + 18%);
  }
  100% {
    clip-path: mouse-coords($mouse-base-coords, $mouse-start-x, $mouse-start-y);
  }
}
